body {
    font-family: Arial;
    background-color:plum;
}

h1 {
    background-color:blueviolet;
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.notice-card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-shadow: 0px 2px 5px gray;
}

.notice-card h2 {
    color:blueviolet;
    margin-bottom: 10px;
}
